@font-face {
    font-family: "Torus";
    src: url(font/Torus-Regular.otf) format("truetype");
  }
/* Main Contents */
h1, h3, p, div, span, button, .mainheader{
    font-family: "Torus";
    color: white;
}
body {
    background: black;
}
.mainheader {
    width: 50%;
    padding-bottom: 5px;
    background-color: #00000000;
    border: 1px solid #00000000;
    border-bottom: 1px solid #ffffff80;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px 25% 10px 25%;
}
.headerbox {
    display: flex;
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 10px
}
.headerbox > * {
    margin-left: 10px;
    margin-right: 10px;
}
.subdiv > p {
    margin-top: 7px;
    font-style: italic;
    color: rgb(255, 255, 255, 0.5);
}
.divider {
    background-color: white;
    width: 1px;
    height: 40px;
}
.cont {
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(29, 29, 29);
    max-width: 700px;
}
.cont > p, h3 {
    text-align: center;
}
.activated-image {
    margin-right: 10px;
  }
#displaymodscontainer {
    height: 40px;
}
.nomods {
    text-align: center;
    padding: 3px 7px 3px 7px;
    color: rgb(29, 29, 29);
    background-color: rgb(83, 83, 83);
    border-radius: 99px;
}
.modicon, .modiconclone {
    width: 50px;
    opacity: 0.33;
    transition: opacity 0.3s ease;
}
.modicon {
    cursor: pointer;
}
.modicon.toggled-on, .modiconclone.toggled-on {
    opacity: 1;
  }
#modrow {
    display: flex;
    flex-direction: column; 
    height: max-content;
}
#modrow > * {
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.moddesc {
    text-align: center;
    padding: 3px 7px 3px 7px;
    margin-right: 2px;;
    color: rgb(29, 29, 29);
    background-color: rgb(83, 83, 83);
    border-radius: 99px;
}
/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    height: 40px;
    transition: 0.2s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}
.tooltip:hover {
    height: 50px;
}
.tooltip:active {
    height: 60px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px dashed #ffffff55;
    padding: 30px;

     /* Center the text using flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Position the tooltip above the image */
    position: absolute;
    z-index: 1;
    bottom: 125%;  /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);

    /* Tooltip arrow (optional) */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    display: flex;
    flex-direction: column; 
    opacity: 1;
}
.modsubtext {
    margin-top: 10px;
    color: rgb(73, 73, 73);
}
.modtitle {
    color:#000000;
    background-color: #fff;
    padding: 3px 7px 3px 7px;
    margin-bottom: 15px;
    border-radius: 99px;
    font-weight: bold;
}
/* Mod Variable */
.modifiermult {
    width: 200px;
    background-color: rgb(54, 54, 54);
    display: flex;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    text-align: center;
    height: 50px;
    margin: 25px;
}
.modifiermultdesc {
    width: 50%;
    background-color: white;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modifiermultdesc > span {
    color: black;
}
.modifiermultvalue {
    padding-right: 20px;
    margin: auto;
    width: max-content;
}
button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-color: rgb(54, 54, 54);
    transition: 0.15s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}
button:hover {
    width: 200px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
button:active {
    background-color: #b6b6b6;
    width: 250px;
    clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
}
.swindicator {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 99px;
    cursor: pointer;
}