@font-face {
    font-family: "Torus";
    src: url(font/Torus-Regular.otf) format("truetype");
  }

body {
    background: linear-gradient(315deg, #000a24,#000a24, #002652, #000000,#000a24, #000a24);
    background-size: 600% 600%;
    animation: BGAnimation 60s ease infinite;
}
@keyframes BGAnimation {
    0%{background-position:25% 25%}
    50%{background-position:75% 75%}
    100%{background-position:25% 25%}
}

/* Main Contents */
h1, h3, p, div, span, button, .mainheader{
    font-family: "Torus";
    color: white;
}
h1, #ft_text {
    text-align: center;
}
a {
    color: #ff00bf;
}
#ft_text {
    font-size: small;
    margin-top: 20px;
}
.subdiv{
    width: 50%;
    height: 60px;
}
.subdiv > p {
    margin: 0px
}
.subdiv:first-child {
    text-align: end;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-image: linear-gradient(to bottom, #00000000 0%, #ffffff 50%, #00000000 100%) 1;
    border-style: solid;
}
#scoredisplay, #TimeDisplay {
    display: inline-block;
    margin: 0px;
    height: 40px;
    font-size: 30px;
}
.mainheader {
    width: 90%;
    padding-bottom: 5px;
    background-color: #00000000;
    border: 1px solid #00000000;
    border-bottom: 1px solid #ffffff80;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px 5% 10px 5%;
}
.headerbox {
    display: flex;
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 10px
}
.headerbox > * {
    padding-left: 30px;
    padding-right: 30px;
}
.cont {
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(15, 15, 15, 0.5);
    max-width: 80vw;
    transition: 0.2s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}
.cont > p, h3 {
    text-align: center;
}
.activated-image {
    margin-right: 10px;
}
#displaymodscontainer {
    height: 40px;
    margin-top: 20px;
}
#modcomposition {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
#modcomposition > * {
    margin: 0px;
}
.displaymods > * {
    margin: 0px 7px 0px 7px;
}
.nomods {
    text-align: center;
    opacity: 1;
}
.modicon, .modiconclone {
    width: 50px;
    opacity: 0.33;
    transition: opacity 0.3s ease;
}
.modicon {
    cursor: pointer;
}
.modicon:hover {
    opacity: 0.6;
}
.modicon.toggled-on, .modiconclone.toggled-on {
    opacity: 1;
  }
#modrow {
    display: flex;
    flex-direction: column; 
    height: max-content;
}
#modrow > * {
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.moddesc {
    text-align: center;
    padding: 3px 7px 3px 7px;
    margin-right: 2px;;
    color: rgb(29, 29, 29);
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 99px;
}
/* TOOLTIP */
.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50px;
    transition: 0.2s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}
.tooltip:hover {
    width: 55px;
}
.tooltip:active {
    width: 60px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px dashed #ffffff55;
    padding: 30px;

     /* Center the text using flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Position */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    display: flex;
    flex-direction: column; 
    opacity: 1;
}
.modsubtext {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.329);
}
#modanecdote {
    width: 100%;
    display: block;
    text-align: center;
}
.modtitle {
    color:#000000;
    background-color: #fff;
    padding: 3px 7px 3px 7px;
    margin-bottom: 15px;
    border-radius: 99px;
    font-weight: bold;
}
/* Mod Variable */
.modifiermult {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.332);
    display: flex;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    text-align: center;
    height: 50px;
    margin: 25px;
    padding: 0px;
}
.modifiermultdesc {
    width: 50%;
    background-color: white;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modifiermultdesc > span {
    color: black;
}
.modifiermultvalue {
    padding-right: 20px;
    margin: auto;
    width: max-content;
}
button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-color: #ffffff54;
    transition: 0.15s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}
button:hover {
    background-color: #ffffff77;
    width: 200px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
button:active {
    background-color: #ffffffac;
    width: 250px;
    clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
}
#timeset {
    cursor: pointer;
}